<header>
    
    <a class="logo" href="/">
        <h1>MovieMatch</h1><img src="img/logo.svg">
    </a>

    <span class="account">
      <% if (isAuthenticated) { %>

        <a href="/search">Search</a>
        <a href="/"><%= username %></a> 
        <!--TODO: Implement nav dropdown-->
        <a href="/profile">Profile</a>
        <a href="/admin">Admin</a>
        <a href="/logout">Logout</a>

      <% } else { %>

        <a href="/search">Search</a>
        <a href="/login">Login</a>
        <a href="/signUp">Sign Up</a>

      <% } %>
    </span>

</header>