<head>
    <meta charset="UTF-8" />
    <title>MovieMatch</title>
    <link rel="icon" type="image/x-icon" href="/img/movie.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
</head>