<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>

<h1>Admin Tools</h1>

<button>View Users</button>
<button>Create User</button><br>
<button>View Lists</button>
<button>Create List</button><br>
<button>View Moods</button>
<button>Create Mood</button><br>
<hr>
<h2>Results</h2>

<%- include('partials/footer.ejs') %>
</body>
</html>