<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>

<main>

<section>
<h1>Admin Tools</h1>
<div class="admin-buttons-container">
    <button class="btn">View Users</button>
    <button class="btn">Create User</button><br>
    <button class="btn">View Lists</button>
    <button class="btn">Create List</button><br>
    <button class="btn">View Moods</button>
    <button class="btn">Create Mood</button><br>
</div>
</section>

</main>

<%- include('partials/footer.ejs') %>
</body>
</html>