<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>

<main>

    <!-- <%console.log(popularMovies.results[0]);%> -->

    <section>
        <h1>Popular Movies</h1>
        <div class="scroll-container">
            <% for (let i = 0; i < 5; i++) { %>
                <div class="movie-card">
                    <img src="http://image.tmdb.org/t/p/w154<%= popularMovies.results[i].poster_path %>" alt="Movie poster">
                </div>
            <% } %>
        </div>
    </section>
    <hr>
    <section>
        <h1>Movie Search</h1>
        <form>
            <input type="text" name="movieSearch">
            <button>Search</button>
        </form>
    </section>

</main>

<%- include('partials/footer.ejs') %>
</body>
</html>