<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>

    <img src="img/logo.svg">
    <h1>MovieMatch</h1>

    <% if (isAuthenticated) { %>
        <h2>You are already logged in!</h2>
    <% } %>

    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <button>Login</button>
    </form>

    <a href="/signup">New user? Sign up here</a>

</body>
</html>