<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>

<h1>Movie Title</h1>
<img src="img/example_poster.webp">
<p>Movie description...</p>
<p>Other movie info...</p>

<select>
    <option>Select list</option>
    <option>List title 1</option>
    <option>List title 2</option>
</select>
<button>Add to list</button>

<h2>Reviews</h2>

<textarea></textarea>
<button>Post review</button>

<!--Example review-->
<p>This is a review of a movie blah blah blah blah...</p>
<p>- Username</p>

<!--Example review-->
<p>This is a review of a movie blah blah blah blah...</p>
<p>- Username</p>

<%- include('partials/footer.ejs') %>
</body>
</html>