<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>

<main>
    <div class="search-input-container">
        <h1>Search by keyword</h1>
        <div>
            <input type="text" id="search-input" placeholder="Search movies...">
            <button id="search-button" class="btn">Search</button>
        </div>
    </div>
    
    <div class="search-result-list"></div>
</main>

<%- include('partials/footer.ejs') %>
<script src="/js/search.js"></script>
</body>
</html>
