<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>

<h1>Search by keyword</h1>
<input type="text"><button>Search</button>

<h2>Results</h2>
<!--Example result-->
<div>
    <img src="img/example_poster.webp">
    <h3>Movie Title</h3>
    <p>Movie description...</p>
</div>

<%- include('partials/footer.ejs') %>
</body>
</html>