<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>

    <img src="img/logo.svg">
    <h1>MovieMatch</h1>

    <% if (typeof error !=='undefined' ) { %>
        <p style="color:red">
            <%= error %>
        </p>
    <% } %>

    <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="password" name="confirm" placeholder="Confirm password" required><br>
        <button>Sign Up</button>
    </form>

    <a href="/login">Existing user? Login here</a>

</body>
</html>