<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>

    <div class="signup-login-container">
        <img src="img/logo.svg">
        <h1>MovieMatch</h1>

        <% if (typeof error !=='undefined' ) { %>
            <p style="color:red">
                <%= error %>
            </p>
        <% } %>

        <form action="/signup" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirm" placeholder="Confirm password" required>
            <button class="btn">Sign Up</button>
        </form>

        <a class="link" href="/login">Existing user? Login here</a>
        <a class="link" href="/">Stay logged out</a>
    </div>

</body>
</html>