
:root {
    font-family: "Open Sans", sans-serif;

    --color-d: #2A2A2A;
    --color-md: #555555;
    --color-m: #7F7F7F;
    --color-ml: #AAAAAA;
    --color-l: #D4D4D4;
    --color-ad: #FF5555;
    --color-a: #FF7F7F;
    --color-al: #FFAAAA;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: var(--color-d);
    max-width: 1600px;
    margin: auto;
}

/* Global Styles */

input {
    padding: 0.75rem;
    border-radius: 0.5rem;
}

select {
    padding: 0.75rem;
    border-radius: 0.5rem;
    width: fit-content;
}

textarea {
    padding: 0.75rem;
    border-radius: 0.5rem;
}

input::placeholder {
    color: var(--color-ml);
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a.link {
    color: white;
    text-decoration: none;
}

a.link:hover {
    color: var(--color-ad);
}

.btn {
    color: white;
    background-color: var(--color-ad);
    width: fit-content;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
}

.btn:hover {
    background-color: var(--color-a);
}