/********************************************************************************/
/* Global Styles */
/********************************************************************************/

:root {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #EEE;
    background-color: #222;
}

input {
    padding: 0.75rem;
    border-radius: 8px;
}

input::placeholder {
    color: #AAA;
}

button {
    padding: 0.75rem;
    border-radius: 8px;
    color: #222;
    background-color: #EEE;
}

button:hover {
    background-color: #CCC;
}

a {
    color: #EEE;
    text-decoration: none;
}

a:visited {
    color: #EEE;
}

a.button-anchor {
    display: block;
    width: fit-content;
    border-radius: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    color: #222;
    background-color: #CCC;
}

.button-anchor:hover {
    color: #EEE;
    background-color: #333;
}


/********************************************************************************/
/* Login/Sign Up */
/********************************************************************************/

.signup-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20vh 0 0 0;
    gap: 1rem;
}

.signup-login-container img {
    width: 200px;
    height: auto;
}

.signup-login-container h1 {
    font-size: 3rem;
}

.signup-login-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/********************************************************************************/
/* Header */
/********************************************************************************/

header {
    color: #EEE;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    color: #EEE;
    text-decoration: none;
    display: flex;
    gap: 0.1rem;
    justify-content: center;
    align-items: center;
    
}

.logo img {
    height: 2rem;
    padding: 0 0 0.1rem 0;
}

/********************************************************************************/
/* Footer */
/********************************************************************************/

footer {
    color: #EEE;
    background-color: #222;
    text-align: center;
    padding: 2rem;
}

/********************************************************************************/
/* Nav */
/********************************************************************************/

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #EEE;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

nav a:hover {
    background-color: #444;
}

.dropdown {
    position: relative;
    display: inline-block;
}   

.dropdown-toggle {
    cursor: pointer;
    color: #EEE;
    display: flex;
    align-items: center;
    width: 120px;
    height: 100%;
    padding: 1rem;
}

.dropdown-toggle:hover {
    background-color: #444;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    z-index: 1;
    flex-direction: column;
}

.dropdown-content a {
    color: #EEE;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 120px;
    height: 100%;
    padding: 1rem;
}

.dropdown-content a:hover {
    background-color: #333;
}

.dropdown:hover .dropdown-content {
    display: flex;
    border: 1px solid #EEE;
}

/********************************************************************************/
/* Main */
/********************************************************************************/

main {
    min-height: 100vh;
    padding: 1rem;
}

/********************************************************************************/
/* Section */
/********************************************************************************/

section {
    padding: 1rem 0;
}

/********************************************************************************/
/* Quote */
/********************************************************************************/

.quote {
    padding: 1rem;
}

.quote p {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

/********************************************************************************/
/* Movie Highlight */
/********************************************************************************/

.highlight {
    display: flex;
    justify-content: left;
    gap: 1rem;
    padding: 1rem;
}

/********************************************************************************/
/* List Gallery */
/********************************************************************************/

.gallery {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 1rem;
}

.gallery-item {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.gallery-item:hover {
    z-index: 1;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

/********************************************************************************/
/* Mood */
/********************************************************************************/

.mood-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.mood-container a {
    width: fit-content;
    border-radius: 1rem;
    padding: 1rem;
    color: #222;
    background-color: #CCC;
}

.mood-container a:hover {
    color: #EEE;
    background-color: #333;
}

/********************************************************************************/
/* Hero */
/********************************************************************************/

.hero-text {
    padding: 1rem;
}