/********************************************************************************/
/* Global Styles */
/********************************************************************************/

:root {

}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEE;
}

/********************************************************************************/
/* Typography */
/********************************************************************************/

/********************************************************************************/
/* Header */
/********************************************************************************/

header {
    color: #EEE;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    color: #EEE;
    text-decoration: none;
    display: flex;
    gap: 0.1rem;
    justify-content: center;
    align-items: center;
    
}

.logo img {
    height: 2rem;
    padding: 0 0 0.1rem 0;
}

.account {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.account a {
    color: #EEE;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

.account a:hover {
    background-color: #444;
}

/********************************************************************************/
/* Main */
/********************************************************************************/

main {
    color: #DDD;
    background-color: #333;
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container {
    color: #EEE;
    background-color: #222;
    padding: 1rem;
    border-radius: 16px;
}

.container h1 {
    text-align: center;
    padding: 1rem;
}

.scroll-container {
    display: flex;
    overflow: auto;
    gap: 1rem;
    padding: 1rem;
}

.movie-card {
    background-color: #DDD;
    display: block;
    margin: auto;
    padding: 1rem;
    border-radius: 8px;
    max-width: 200px;
}

.movie-card:hover {
    background-color: #FFF;
}

.movie-card img {
    border-radius: 4px;
    width: 100%;
}

.mood-container {
    display: flex;
    justify-content: left;
    gap: 1rem;
}

.mood {
    background-color: lightblue;
    padding: 1rem;
    border-radius: 8px;
    width: fit-content;
}

.mood:hover {
    background-color: #FFF;
}

.mood a {
    color: #222;
    text-decoration: none;
}

/********************************************************************************/
/* Footer */
/********************************************************************************/

footer {
    color: #EEE;
    background-color: #222;
    text-align: center;
    padding: 2rem;
}